@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --background: #533745;
    --text: #EFF1F3;
    --primary: #AB4E68;
    --secondary: #B07156;
  }

  html[data-theme='dark'] {
    --background: #0C1618;
    --text: #FAF4D3;
    --primary: #D1AC00;
    --secondary: #004643;
  }
}


body {
  background: var(--background);
  color: var(--text);
  @apply text-base;
}

h1 {
  @apply text-4xl;
}
h2 {
  @apply text-3xl;
}
h3 {
  @apply text-2xl;
}
h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

h5 {
  @apply text-base;
}
