.CodeWrapper {
    @apply border-2 bg-[--background-secondary] border-[--ghost] relative p-2 rounded mt-2;

    &>pre {
        overflow: auto;
    }
}

.Code {
    @apply text-[--secondary];
    @apply hyphens-none [&>*]:font-firaCode [&>*]:whitespace-pre text-left;
    tab-size: 4;

    &>* {
        word-spacing: normal;
    }
}

.Copy {
    @apply text-[--ghost] hover:text-[--ghost-action];
    @apply absolute top-0 right-0 p-2 transition-colors [&>*]:text-xs text-xs;

    &>svg {
        @apply size-4;
    }
}
