.CodeWrapper {
    @apply border-2 bg-[--primary-light-background] border-[--primary-diminish] relative p-2 rounded mt-2;

    &>pre {
        overflow: auto;
    }
}

.Code {
    @apply text-[--secondary-on-light];
    @apply hyphens-none [&>*]:font-firaCode [&>*]:whitespace-pre text-left;
    tab-size: 4;

    &>* {
        word-spacing: normal;
    }
}

.Copy {
    @apply text-[--primary] hover:text-[--primary-focus];
    @apply absolute top-0 right-0 p-2 transition-colors [&>*]:text-xs text-xs;

    &>svg {
        @apply size-4;
    }
}
