.CodeWrapper {
    @apply border-2 bg-[--color-darker] border-[--color-dark] relative p-2 rounded mt-2;

    &>pre {
        overflow: auto;
    }
}

.Code {
    @apply text-[--color-primary-on-light] [&>*]:font-firaCode [&>*]:whitespace-pre text-left;
    tab-size: 4;
    hyphens: none;

    &>* {
        word-spacing: normal;
    }
}

.Copy {
    @apply absolute top-0 right-0 p-2 transition-colors text-[--color-text-secondary-on-light] text-shadow [&>*]:text-xs text-xs;
    @apply hover:text-[--color-secondary-on-light-hover];

    &>svg {
        @apply size-4;
    }
}
